.center-main-body {
    width:fit-content;
    border-style:groove;
    border-radius:12.5px;
    padding: 1%;
    height:100%;
}

.vertical {
    height:100%;
}

.component-display{
    width:80%;
    margin:auto;
}

.component-display-inner {
    width:100%;
    margin:auto;
}

.flex-container {
    display: flex;
    margin:auto;
    width:fit-content;
}

.description-area {
    transition:height 2s;
    margin-top:1%;
    background-color:white;
}

.font-variant-main{
    font-size: $font-size-sm;
    list-style: none;
    text-align: center;
    border-radius: 25px;
}

.font-variant-secondary{
    font-size: $font-size-sm;
    font-style:italic;
    list-style: none;
    text-align: center;
}

.ul {
    list-style: none;
}

.Next {
    width:fit-content;
    margin:auto;
}

.Back {
    width:fit-content;
    margin:auto;
}

.spacer {
    width:50%;
}

.sm {
    width:15vw;
    height:7.5vw;
}

.md {
    width:20vw;
    height:8.5vw; 
}

.lg {
    width:25vw;
    height:9.5vw;
}




.example {
    width:50%;
    height:50%;
    margin-left:25%;
}

.error {
    color:red
}

.expand {
    transition:height 2s;
    height:50px;
}

