
.all-container-sm {
    width:10%;
}

.all-container-md {
    width:50%;
}

.all-container-lg {
    width:100%;
}


.center-main-body {
    width:fit-content;
    min-width:300px;
    border-style:groove;
    border-radius:12.5px;
    padding:7.5%;
}

.flex-row-container {
    width:100%;
    display: flex;
}

//COLOR OF STATUS

.gray {
    background-color: $gray-600
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange
}



//DESCRIPTION FOR HTML ARRAY

.progress-container {
    margin-left:5%;
    width:500px;
  }

.progress-description{
    margin-left:5%;  
}



//STEPPERTYPE==CIRCLE
//FOR WHEN STEPPERTYPE IS "CIRCLE"

  .circle-start {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    z-index: 1;
    color:$gray-100;
    margin-left:10%;
  }

  .circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    z-index: 1;
    color:$gray-100;
    margin-left:10%;
  }

  .circle-last {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    z-index: 1;
    color:$gray-100;
    margin-left:10%;
  }


//STEPPERTYPE==SQUARE
//FOR WHEN STEPPERTYPE IS "SQUARE"

.square-start {
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align:center;
    border-radius: 20%;
    color:$gray-100;
    margin-left:10%;
}

.square {
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align:center;
    border-radius: 20%;
    color:$gray-100;
    margin-left:10%;
}

.square-last {
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align:center;
    border-radius: 20%;
    color:$gray-100;
    margin-left:10%;
}

// BUTTON

.Stepper-Button-Left {
    width:25%;
    margin-left:10%;
}

.spacer {
    width:100%;
}

.vertical-spacer {
    width:30%;
}

.button-vertical-margin {
    margin-left:1%;
}

.Stepper-Button-Right {
    width:25%;
    margin-right:10%;;
}

.Stepper-Button-Skip {
    width:25%;
    margin-right:1%;
}

.Stepper-Button-Reset {
    width:25%;
    margin:auto;
}

// LINEBAR

.bar {
    width:100%;
    min-width:20%;
    height:5px;
    border-radius: 10px;
    display: inline-block;
}

  .hide {
    display:none;
  }

// FONT Style

.font-variant-main{
    font-size: $font-size-sm;
    list-style: none;
    text-align: center;

}

.font-variant-vertical{
    font-size: $font-size-sm;
    font-style:italic;
    list-style: none;
    text-align: justify;
}

.font-variant-row{
    font-size: $font-size-sm;
    font-style:italic;
    list-style: none;
    text-align: center;
}

.font-variant-error{
    font-size: $font-size-sm;
    list-style: none;
    color:red;
    text-indent: 1%;
    text-align: center;
}

.icon-area {
    
}

.description-area {
    width:300px;
    transition:height 2s;
    height:75px;
    background-color: white;
    margin-bottom:1%;
    margin-left:1%;
    z-index: 0;
}


.bar-area {
    width:50%;
    min-width:20%;
    height:5px;
    margin-left:5%;

}

.display-in-vertical {
    margin-top:10%;
    height:50px;
}
.display-in- {
    margin-top:5%;
    margin-left:37.5%
}

.stepper-display {
  text-align: center;
}