.rating {
  cursor: pointer;
  &--disabled {
    cursor: not-allowed;
  }
}
.progress {
  background-color: $rating-progress-bg-color;
  width: $rating-progress-default-width;
  border-radius: $rating-progress-border-radius;

  &--noText {
    @extend .progress;
    height: $rating-progress-noText-default-height;
  }
}

.progress__primary {
  border-radius: $rating-progress-border-radius;
  font-size: $rating-progress-default-fontsize;
  color: $rating-progress-font-color;
  height: $rating-progress-primary-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 100ms ease-in-out;
}

.progress__barValue {
  margin-left: $rating-progress-text-margin-left;
}

.thumb {
  display: flex;
  position: relative;
}

.thumb__item {
  border-radius: $rating-thumb-border-radius;
  padding: $rating-thumb-padding;
  margin: $rating-thumb-margin-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $rating-thumb-default-shadow;
  transition: 200ms ease-out;

  &:hover {
    transform: $rating-thumb-hover-scale;
    transform: $rating-thumb-hover-translate;
    box-shadow: $rating-thumb-hover-shadow;
  }

  &:active {
    box-shadow: $rating-thumb-active-shadow;
    transform: $rating-thumb-active-translate;
    background-color: $rating-thumb-active-color;
  }
}

.patComponent {
  margin-bottom: $story-component-margin-bottom;
}

.thumb__item-disabled {
  cursor: not-allowed;
  border-radius: $rating-thumb-border-radius;
  padding: $rating-thumb-padding;
  margin-left: $rating-thumb-margin-l;
  margin-right: $rating-thumb-margin-r;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $rating-thumb-disabled-shadow;
  transition: 200ms ease-out;
}

.ratingSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.ratingRadio {
  display: none;
}

.like {
  position: absolute;
  left: -100vw;
}

@keyframes bounce {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.like-bounce {
  animation: bounce 0.2s;
}

.like-bounce:after {
  height: 30px;
  width: 30px;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}

.heart__label {
  display: flex;
  border: 1px solid lightgray;
  padding: 10px;

  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  transition: 200ms ease-in-out;


  &__like {
    margin-left: 10px;
    color: gray;
    &-active {
      @extend .heart__label__like;
      color: rgb(47, 47, 47);
    }
  }
  &-active {
    @extend .heart__label;
    background-color: #fff5f6;
    border: 1px solid transparent;
  }
}
