dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogue {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  box-sizing: content-box;
  background-color: #fefefe00;
  border: #fefefe00;
  max-width: 80%;
  padding: 0;

  .dialogue-content {
    border-radius: 5px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .dialogue-title {
    padding: 2px 16px;
  }
  .dialogue-children {
    padding: 2px 16px;
  }

  .dialogue-close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
}
