.text__group {
  position: relative;
  width: 10em;
  height: 2.5em;
  background-color: #eee;
  .text {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5em;
    border: none;
    box-sizing: border-box;
    border: 1px solid #eee;
  }
  .text:hover {
    border-color: #ccc;
  }
  .text:focus {
    outline: none;
    border: 2px solid #000;
    background-color: #fff;
  }
  .text__error {
    background-color: #ffeaed;
  }
  .text__error:focus {
    background-color: #fff;
    border-color: red;
  }
  .text__error-icon {
    position: absolute;
    height: 1em;
    right: 0.5em;
    top: 0;
    transform: translateY(calc(50% + 0.2em));
  }
}
