.text__group {
  position: relative;
  @include text-layout;
  .text {
    max-width: 100%;
    max-height: 100%;
    padding: $list-inline-padding;
    border: none;
    box-sizing: border-box;
    border: 1px solid $gray-300;
  }
  .text:hover {
    border-color: $gray-900;
  }
  .text:focus {
    @include text-border-focus($black, $white);
  }
  .text__error {
    background-color: $light-pink;
  }
  .text__error:focus {
    @include text-border-focus($red, $white);
  }
  .text__error-icon {
    position: absolute;
    height: $btn-padding-x-lg;
    right: $list-inline-padding;
    top: 0;
    transform: $align-error;
  }
}
