/* * {
  margin:0;
  padding:0;
} */
/* .App {
    font-family: sans-serif;
    background-color: #c7c7c7;
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  } 
  .App > p,
  h1 {
    margin-left: 50%;
  }
  .App > h3 {
    padding: 5% 5% 0;
  }
  .container {
    position: relative;
    padding: 0 10%;
  } */
  .textbox-container {
    /* position: relative; */
    /* width: 100%; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }
  .textbox {
    /* outline: none; */
    outline: 1px solid rgb(196, 196, 196);

    border: none;
    background-color: white;
    /*  */
    height: 30px;
    padding: 1rem 1rem;
  }
  .textbox:hover {
    outline: 2px solid gray;
  }
  .textbox:focus{
    outline: 2px solid black;
  }
  .isError {
    background-color: #ffe0e0;
  }
  .textbox.isError:focus {
    outline: 2px solid #990022;
    background-color: white;
  }
  
  .svg-error {
    color: red;
    /* position: absolute; */
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top:5px;
    right: 1.5rem;
  }