.toast {
    position: absolute;
    min-width: 344px;
    min-height: 76px;
    z-index: 9999 !important;
    text-align: left;
    display: flex;
    justify-content: space-between;

    &__edge__primary {
        @include toast-edge($primary, 10px, 76px, 6px, 6px);
    }
    &__edge__secondary {
        @include toast-edge($secondary, 10px, 76px, 6px, 6px);
    }
    &__edge__success {
        @include toast-edge($success, 10px, 76px, 6px, 6px);
    }
    &__edge__info {
        @include toast-edge($info, 10px, 76px, 6px, 6px);
    }
    &__edge__warning {
        @include toast-edge($dark-yellow, 10px, 76px, 6px, 6px);
    }
    &__edge__danger {
        @include toast-edge($danger, 10px, 76px, 6px, 6px);
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 9px 14px;
    }
    &__inner__wrapper {
        display: flex;
        align-items: center;
    }
    &__text__wrapper {
        margin-left: 10px;
    }
    &__icon {
        max-width: 35px;
        max-height: 35px;
    }
    &__icon__close {
        cursor: pointer;
    }
    h6 {
        margin: 0;
    }
    p {
        margin: 0;
    }
}

.toast__top-right {
    top: 15px;
    right: 15px;
    opacity: 1;
}
.toast__top-left {
    top: 15px;
    left: 15px;
    opacity: 1;
}
.toast__bottom-right {
    bottom: 15px;
    right: 15px;
    opacity: 1;
}
.toast__bottom-left {
    bottom: 15px;
    left: 15px;
    opacity: 1;
}

.toast__primary {
    @include toast-color(#e7f5ef, 6px, $primary);
}
.toast__secondary {
    @include toast-color(#f0f0f1, 6px, $secondary);
}
.toast__success {
    @include toast-color(#e8f1e9, 6px, $success);
}
.toast__info {
    @include toast-color(#dfe9eb, 6px, $info);
}
.toast__warning {
    @include toast-color(#f5f3ea, 6px, $dark-yellow);
}
.toast__danger {
    @include toast-color(#f1e6e7, 6px, $danger);
}

.toast__btn__primary {
    @include toast-btn(#e7f5ef, $primary, 5px, none, 600, 125px, 40px);
}
.toast__btn__secondary {
    @include toast-btn(#f0f0f1, $secondary, 5px, none, 600, 125px, 40px);
}
.toast__btn__success {
    @include toast-btn(#e8f1e9, $success, 5px, none, 600, 125px, 40px);
}
.toast__btn__info {
    @include toast-btn(#dfe9eb, $info, 5px, none, 600, 125px, 40px);
}
.toast__btn__warning {
    @include toast-btn(#efede3, $dark-yellow, 5px, none, 600, 125px, 40px);
}
.toast__btn__danger {
    @include toast-btn(#f1e6e7, $danger, 5px, none, 600, 125px, 40px);
}
