.toast {
    position: absolute;
    min-width: 344px;
    min-height: 76px;
    padding: 9px 13px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__edge__primary {
        @include toast-edge($primary, 10px, 76px, 6px 6px);
    }
    &__edge__secondary {
        @include toast-edge($secondary, 10px, 76px, 6px 6px);
    }
    &__edge__success {
        @include toast-edge($success, 10px, 76px, 6px 6px);
    }
    &__edge__info {
        @include toast-edge($info, 10px, 76px, 6px 6px);
    }
    &__edge__warning {
        @include toast-edge($dark-yellow, 10px, 76px, 6px 6px);
    }
    &__edge__danger {
        @include toast-edge($danger, 10px, 76px, 6px 6px);
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 9px 14px;
    }
    &__inner-wrapper {
        display: flex;
        align-items: center;
    }
    &__icon {
        font-size: 30px;
    }
    &__text-wrapper {
        margin-left: 10px;
    }
    &__close-icon {
        cursor: pointer;
    }
    h6 {
        margin-bottom: 5px;
    }
    p {
        margin: 0;
    }
}

.toast__top-right {
    top: 15px;
    right: 15px;
    opacity: 1;
}

.toast__top-left {
    top: 15px;
    left: 15px;
    opacity: 1;
}

.toast__bottom-right {
    bottom: 15px;
    right: 15px;
    opacity: 1;
}

.toast__bottom-left {
    bottom: 15px;
    left: 15px;
    opacity: 1;
}

.toast__primary {
    @include toast-color(#e4f8f0, 6px, $primary);
}
.toast__secondary {
    @include toast-color(#f8f9fa, 6px, $secondary);
}
.toast__success {
    @include toast-color(#d9e9db, 6px, $success);
}
.toast__info {
    @include toast-color(#cddee2, 6px, $info);
}
.toast__warning {
    @include toast-color(#f0eddf, 6px, $dark-yellow);
}
.toast__danger {
    @include toast-color(#ecdedf, 6px, $danger);
}
