.switch-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.switch-input {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
  border-radius: 16px;
  background-color: #e0e0e0;
  transition: background-color 250ms ease;

  &:hover {
    background-color: #bdbdbd;
  }
}

.thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 28px;
  height: 25px;
  border-radius: 50%;
  background-color: #bdbdbd;
  box-shadow: none;
  transition: left 250ms ease;

  &:hover {
    left: 0;
  }
}

.switch-label-text {
  padding: 0 0 0 8px;
}
