.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
    margin-right: 10px;

} 
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The bar/slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1rem;
    background-color: #999999;
    // -webkit-transition: $sw-transition;
    // transition: $sw-transition;
    @include switch-transition;
    border-radius: 34px;
  }
  
  /* The dot */
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    bottom: -4px;
    border-radius: 50%;
    background-color:$white;
    box-shadow: $sw-shadow;
    // -webkit-transition: $sw-transition;
    // transition: $sw-transition;
    @include switch-transition;
  }
  
  // when cheked, the bar's color changed
  input:checked + .slider {
    background-color:$sw-checkedbar-color;
  }

  
  //when checked, the dot's color changed
  input:checked + .slider:before {
    // -webkit-transform: translateX(26px);
    // -ms-transform: translateX(26px);
    // transform: translateX(26px);
    @include switch-transform;
    background-color:$sw-checkeddot-color; 
   }
 
  .sw-purple input:checked + .slider {
      background-color:$sw-lightpurple;
 
    }
    .sw-purple input:checked + .slider:before {
      background-color:$purple;

    }

  .sw-orange input:checked + .slider {
    background-color: $sw-lightorange;
  }

  .sw-orange input:checked + .slider:before {
    background-color:$sw-orange;
  }

  .sw-pink input:checked + .slider {
    background-color:$sw-lightpink;
    
  }

  .sw-pink input:checked + .slider:before {
    background-color:	$sw-pink;

  }

  // small size
  .sw-sm .slider:before{
   width: 16px;
   height: 16px;
   bottom: -2px;
  }

  .sw-sm .slider{
    height: 0.6rem;
    width:2rem; 
  }


  .sw-sm input:checked + .slider:before {
    transform: translateX(16px);
  }

// for disabled switch
 .disabled .slider{
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    background-color:$sw-disabled-color;
  }

  .disabled .text{
    color:$sw-disabled-color;
  }

  .sw-labeled{
    display: flex;
  }
  
  .switch-labels{
    margin-left: 4rem;
    margin-top: -0.3rem;
  }




