.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .label {
    display: inline-block;
    position: relative;
    left: 80px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 30px;
      width: 30px;
      left: 4px;
      bottom: -4px;
      background-color: rgb(127, 129, 131);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    &:hover:before {
      border: 4px solid rgba(222, 226, 230, 0.18);
      transition: 0;
    }
    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  input:checked + .slider {
    background-color: rgba(222, 226, 230, 0.8);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

.switch {
  &-small {
    top: 10px;
    width: 55px;
    height: 12px;
    .slider::before {
      height: 22px;
      width: 22px;
    }
  }
}

.switch {
  &-primary {
    .slider {
      &:before {
        background-color: rgba(30, 88, 247, 0.8);
      }
    }
    input:checked + .slider {
      background-color: rgba(30, 88, 247, 0.8);
    }
  }
}

.switch {
  &-secondary {
    .slider {
      &:before {
        background-color: rgba(243, 13, 75, 0.8);
      }
    }
    input:checked + .slider {
      background-color: rgba(243, 13, 75, 0.8);
    }
  }
}
