// linear default
.pg-linear {
  width: 100%;
  background-color: $gray-400;
  border-radius: 50px;
  margin: auto 0;

  .pg-linear-bar {
    height: 7px;
    background-color: $black;
    border-radius: 50px;
    transition: width 0.3s linear;
  }
}

// linear text
.pg-linear-text {
  margin-left: 10px;
  width: 5%;
}

// linear size
.pg-linear-xs {
  .pg-linear-bar {
    height: 3px;
  }
}
.pg-linear-sm {
  .pg-linear-bar {
    height: 5px;
  }
}
.pg-linear-lg {
  .pg-linear-bar {
    height: 10px;
  }
}
.pg-linear-xl {
  .pg-linear-bar {
    height: 13px;
  }
}

// linear color
.pg-linear-primary {
  background-color: $pg-primary-background;

  .pg-linear-bar {
    background-color: $primary;
  }
}
.pg-linear-secondary {
  background-color: $pg-secondary-background;

  .pg-linear-bar {
    background-color: $secondary;
  }
}
.pg-linear-success {
  background-color: $pg-success-background;

  .pg-linear-bar {
    background-color: $success;
  }
}
.pg-linear-info {
  background-color: $pg-info-background;

  .pg-linear-bar {
    background-color: $info;
  }
}
.pg-linear-warning {
  background-color: $pg-warning-background;

  .pg-linear-bar {
    background-color: $warning;
  }
}
.pg-linear-danger {
  background-color: $pg-danger-background;

  .pg-linear-bar {
    background-color: $danger;
  }
}

// circular default
.pg-circular {
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
  }

  .ring {
    stroke: $gray-400;
  }

  .progress-ring {
    stroke: $black;

    transition: stroke-dashoffset 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}

// circular size
.pg-circular-primary {
  .ring {
    stroke: $pg-primary-background;
  }

  .progress-ring {
    stroke: $primary;
  }
}
.pg-circular-secondary {
  .ring {
    stroke: $pg-secondary-background;
  }

  .progress-ring {
    stroke: $secondary;
  }
}
.pg-circular-success {
  .ring {
    stroke: $pg-success-background;
  }

  .progress-ring {
    stroke: $success;
  }
}
.pg-circular-info {
  .ring {
    stroke: $pg-info-background;
  }

  .progress-ring {
    stroke: $info;
  }
}
.pg-circular-warning {
  .ring {
    stroke: $pg-warning-background;
  }

  .progress-ring {
    stroke: $warning;
  }
}
.pg-circular-danger {
  .ring {
    stroke: $pg-danger-background;
  }

  .progress-ring {
    stroke: $danger;
  }
}
