.card-default {
  @include card-border;
  margin-right: 15px;
  margin-top: 15px;
  width: 15rem;
  display: flex;
  flex-direction: column;
  .image {
    margin: 0px;
  }
  .image img {
    height: 10rem;
  }
  .body {
    @include card-body-style;
  }
  .btn {
    width: 10rem;
  }
}

.card-horizontal {
  @include card-border;
  margin-right: 15px;
  margin-top: 15px;
  width: 40rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .image {
    margin: 0px;
    width: 10rem;
  }
  .body {
    @include card-body-style;
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 10rem;
  }
}
.card-circledImage {
  @include card-border;
  margin-right: 15px;
  margin-top: 15px;
  align-self: center;
  margin-right: '5px';
  width: 15rem;
  display: flex;
  flex-direction: column;
  .image {
    margin: 0px;
    height: 10rem;
    display: flex;
    border-style: none;
    padding: 0.5rem;
  }
  .image img {
    width: 10rem;
    border-radius: 50%;
    align-self: center;
  }
  .body {
    @include card-body-style;
  }
  .body h5 {
    align-self: center;
  }
  .btn {
    align-self: center;
    width: 10rem;
  }
}

.card-noImage {
  @include card-border;
  margin-right: 15px;
  margin-top: 15px;
  width: 20rem;
  display: flex;
  flex-direction: column;
  .image {
    margin: 0px;
    display: none;
  }
  .body {
    @include card-body-style;
  }
  .btn {
    width: 10rem;
  }
}

.card-largeImage {
  @include card-border;
  margin-right: 15px;
  margin-top: 15px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  .image {
    margin: 0px;
  }
  .image img {
    height: 12rem;
  }
  .body {
    text-align: center;
    @include card-body-style;
  }
  .body p {
    display: none;
  }
  .btn {
    display: none;
  }
}

.card-dark {
  @include card-theme-style($gray-800);

  .body {
    width: 14.9rem;

    background-color: $gray-800;
    color: $white;
  }
  .body h5 {
    color: $white;
  }
  .btn {
    @include button-style($white, $secondary, $secondary);
  }
}
.card-purple {
  @include card-theme-style($purple);
}
.card-blue {
  @include card-theme-style($blue);
}

.card-yellow {
  @include card-theme-style($dark-yellow);
  .btn {
    @include button-style($white, $dark-yellow, $yellow);
    width: 10rem;
  }
}

.card-sm {
  @include card-border;
  margin-right: 15px;
  margin-top: 15px;
  width: 12rem;
  display: flex;
  flex-direction: column;
  .image {
    margin: 0px;
  }
  .image img {
    height: 8rem;
  }
  .body {
    @include card-body-style;
    font-size: $font-size-sm * 0.8;
  }
  .body h5 {
    font-size: $font-size-sm;
  }
  .btn {
    @include button-size(
      $btn-padding-y-sm,
      $btn-padding-x-sm,
      $btn-font-size-sm,
      $border-radius-sm
    );
    width: 8rem;
  }
}

.card-lg {
  @include card-border;
  margin-right: 15px;
  margin-top: 15px;
  width: 18rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .image {
    margin: 0px;
  }
  .image img {
    height: 12rem;
  }
  .body {
    @include card-body-style;
    font-size: $font-size-base;
  }
  .body h5 {
    font-size: 1.5rem;
  }
  .btn {
    width: 12rem;
  }
}
