.alert {
  border: 1px solid black;
}

/* master/alert/standard/no-action */
.alert-standard {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 16px;

  width: 149px;
  height: 48px;

  /* palette / error / background

  Relation:
  palette.error.main lighten by 90%.

  Usage:
  Background of the error alerts.
  */
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #F44336;
  border-radius: 4px;
}

.alert-filled {
  border: 1px solid grey;
}