@mixin input-padding($padding-y, $padding-x) {
  padding: $padding-y $padding-x;
}

.TextInput {
  position: relative;
  & > input {
    border: none;
    @include input-padding(1rem, 1rem);
  }

  & > input:hover {
    outline: 2px solid grey;
  }

  & > input:focus {
    outline: 2px solid black;
  }
  & .ti-error:focus {
    outline: 2px solid red;
    background-color: white;
  }
  & .ti-error {
    background-color: $red-100;
    color: gray;
  }
  & > img {
    height: 1.5rem;
    position: relative;
    left: -2.25rem;
  }
}
