.alert {
  display: flex;
  align-items: center;
  // color: #333;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 1rem;

  &-icon {
    width: 1rem;
    margin-right: 0.8rem;
    margin-left: 0px; /* adjust the left margin */
  }

  // &-title {
  //   flex: 1;
  // }

  // &-content {
  //   flex: 1;
  // }

  &-close,
  &-button,
  &-suffix {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
  }

  &-standard {
    height: 48px;
    width: 280px;
    left: 0px;
    top: 0px;   
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #F44336;
    border-radius: 4px;
    
    &-error {
      background: $alt-error-background;
    }
    &-warning {
      background: $alt-warning-background;
    }
    &-info {
      background: $alt-info-background;
    }
    &-success {
      background: $alt-success-background;
    }
  }

  &-filled {
    height: 48px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    color: $white;

    &-error {
      background: $alt-error-background-filled;
    }
    &-warning {
      background: $alt-warning-background-filled;
    }
    &-info {
      background: $alt-info-background-filled;
    }
    &-success {
      background: $alt-success-background-filled;
    }
  }

  &-outlined {
    height: 48px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    background-color: transparent;
    
    &-error {
      border: 1px solid $danger;
    }
    &-warning {
      border: 1px solid $warning;
    }
    &-info {
      border: 1px solid $info;
    }
    &-success {
      border: 1px solid $success;
    }
  }

  &-one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //styleName: typography Figma
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }

  &-one-line-bold {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    //styleName: typography Figma
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }


  &-two-line {
    display: flex;
    flex-direction: row;
    height: 70px; /* adjust the height to accommodate two lines */
    overflow: hidden;
    font-size: 0.9rem;
    font-family: Roboto;

    .alert-title {
      margin-bottom: 0.25rem;
      //styleName: typography Figma;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
    }

    .alert-content {
      //styleName: typography Figma;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
    }
  }

  &-two-line-bold {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    height: 70px; /* adjust the height to accommodate two lines */
    overflow: hidden;
    font-size: 0.9rem;
    font-family: Roboto;

    .alert-title {
      margin-bottom: 0.25rem;
      //styleName: typography Figma;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;

    }

    .alert-content {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
    }
  }
}