.alert {
  position: relative;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border: $btn-border-width solid lightgray;
  //   box-shadow: $btn-box-shadow;
  //   transition: $btn-transition;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem;
}

.alert-sm {
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
}

.alert-lg {
  font-size: 1.2rem;
  padding: 0.7rem 1.2rem;
}

.alert-primary {
  @include alert-style(rgba($primary, 0.3), darken($primary, 10%));
}

.alert-secondary {
  @include alert-style(rgba($secondary, 0.3), darken($secondary, 10%));
}

.alert-danger {
  @include alert-style(rgba($danger, 0.3), darken($danger, 10%));
}

.alert-warning {
  @include alert-style(rgba($warning, 0.3), darken($warning, 10%));
}

.alert-info {
  @include alert-style(rgba($info, 0.3), darken($info, 10%));
}

.alert-success {
  @include alert-style(rgba($success, 0.3), darken($success, 10%));
}
