.anchor {
  margin: 0;
  display: inline-block;
}

.anchor-default {
  color: $body-color;
  text-decoration-color: $body-color;
  &:hover {
    color: blue;
  }
}

// 버튼 일 경우에만 color white. Otherwise, $primary
.anchor-primary {
  color: $primary;
  text-decoration-color: $primary;
  &:hover {
    color: darken($primary, 15%);
  }
}

.anchor-secondary {
  color: $secondary;
  text-decoration-color: $secondary;
  &:hover {
    color: darken($secondary, 35%);
  }
}

.anchor-always {
  text-decoration: underline;
}

.anchor-hover:hover {
  text-decoration: underline;
}

.anchor-none {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.anchor-button {
  border: none;
  background-color: transparent;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}

.anchor-h1 {
  font-size: $link-h1-font-size;
}
.anchor-h2 {
  font-size: $link-h2-font-size;
}
.anchor-h3 {
  font-size: $link-h3-font-size;
}
.anchor-body1 {
  font-size: $link-body1-font-size;
}
.anchor-body2 {
  font-size: $link-body2-font-size;
}

.anchor-inherit {
  font-size: inherit;
}
