.step-root{
    display: flex;
    border: 1px solid $gray-500;
    width: 100%;
    padding: 10px;
    height: 80px;
    box-shadow: $btn-box-shadow;
    transition: transform .2s;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content{
    margin-left: 20px;
    font-weight: $btn-font-weight;
}
.step-horizontal{
    display:flex;
    margin-bottom: 30px; 
   
 }
 //.step-horizontal:first-child{
//    align-self: end; 
//}
.step-vertical{
    width: 50%;
    margin-bottom: 30px; 
}

.step-small{
    @include step-size( 60% , 0.6em ); 
}
.step-mid{
    @include step-size( 80% , 0.8em );  
}
.step-large{
    @include step-size( 100% , 1.0em);  
}
.enable{
    background-color:$gray-200;
    cursor: pointer;
   
}
.enable:hover{
    transform: scale(1.1);
}
.disable{
    pointer-events:none;
}

