.drawer{
   
    background-color: rgb(209, 85, 85);
    position: fixed;
    
}

.drawer-openStateFalse{
    display: none;
}

.drawer-left{
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
}

.drawer-right{
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
}

.drawer-top{
    top:0;
    width: 100%;
    height: max-content;
}

.drawer-bottom{
    bottom:0;
    width: 100%;
    height: max-content;
}