$my-max-width: 600px;

.Carousel {
  position: relative;
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.Carousel__img-wrapper {
  position: relative;

  width: 3 * $my-max-width;
}
.Carousel__img-wrapper img {
  max-width: $my-max-width;
}

#Carousel__img__left {
  position: absolute;
  top: 0;
  left: -$my-max-width;
}
#Carousel__img__center {
  position: absolute;
  top: 0;
  left: 0;
}
#Carousel__img__right {
  position: absolute;
  top: 0;
  left: $my-max-width;
}

/*deal with the situation when prev is clicked*/
#Carousel__img__left-to-center {
  position: absolute;
  display: block;
  animation-name: moveLefttoCenter;
  animation-duration: 0.6s;
  top: 0; /*end with this position after animation*/
  left: 0; /*end with this position after animation*/
}
#Carousel__img__center-to-right {
  position: absolute;
  display: block;
  animation-name: moveCentertoRight;
  animation-duration: 0.6s;
  top: 0; /*end with this position after animation*/
  left: $my-max-width; /*end with this position after animation*/
}
#Carousel__img__mostleft-to-left {
  position: absolute;
  display: block;
  animation-name: moveMostLefttoLeft;
  animation-duration: 0.6s;
  top: 0; /*end with this position after animation*/
  left: -$my-max-width; /*end with this position after animation*/
}
/*deal with with the situation when next is clicked*/
#Carousel__img__right-to-center {
  position: absolute;
  display: block;
  animation-name: moveRighttoCenter;
  animation-duration: 0.6s;
  top: 0; /*end with this position after animation*/
  left: 0; /*end with this position after animation*/
}
#Carousel__img__center-to-left {
  position: absolute;
  display: block;
  animation-name: moveCentertoLeft;
  animation-duration: 0.6s;
  top: 0; /*end with this position after animation*/
  left: -$my-max-width; /*end with this position after animation*/
}
#Carousel__img__mostright-to-right {
  position: absolute;
  display: block;
  animation-name: moveMostRighttoRight;
  animation-duration: 0.6s;
  top: 0; /*end with this position after animation*/
  left: $my-max-width; /*end with this position after animation*/
}
@keyframes moveLefttoCenter {
  0% {
    left: -$my-max-width;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes moveCentertoRight {
  0% {
    top: 0;
    left: 0px;
  }
  100% {
    top: 0px;
    left: $my-max-width;
  }
}

@keyframes moveRighttoCenter {
  0% {
    left: $my-max-width;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes moveCentertoLeft {
  0% {
    top: 0;
    left: 0px;
  }
  100% {
    top: 0px;
    left: -$my-max-width;
  }
}

@keyframes moveMostLeftToLeft {
  0% {
    left: -2 * $my-max-width;
    top: 0px;
  }
  100% {
    left: -$my-max-width;
    top: 0px;
  }
}

@keyframes moveMostRighttoRight {
  0% {
    left: 2 * $my-max-width;
    top: 0px;
  }
  100% {
    left: $my-max-width;
    top: 0px;
  }
}

.Carousel__prev,
.Carousel__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.Carousel__prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.Carousel__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.Carousel__dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.Carousel__dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.Carousel__dot-active,
.Carousel__dot:hover {
  background-color: white;
}
