:root {
  --my-max-width: 600px;
}

.Carousel {
  position: relative;
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.Carousel__img-wrapper {
  position: relative;
  width: calc(3 * var(--my-max-width));
}
.Carousel__img-wrapper div {
  overflow: hidden;
}

.Carousel__img-wrapper img {
  max-width: calc(var(--my-max-width));
}

#Carousel__img__left {
  @include carousel-img-position(0, calc(-1 * var(--my-max-width)));
}
#Carousel__img__center {
  @include carousel-img-position(0, 0);
}
#Carousel__img__right {
  @include carousel-img-position(0, var(--my-max-width));
}

/*deal with the situation when prev is clicked*/
#Carousel__img__left-to-center {
  @include carousel-img-position-animation(0, 0, moveLefttoCenter);
}
#Carousel__img__center-to-right {
  @include carousel-img-position-animation(
    0,
    calc(-1 * var(--my-max-width)),
    moveCentertoRight
  );
}
#Carousel__img__mostleft-to-left {
  @include carousel-img-position-animation(
    0,
    calc(-1 * var(--my-max-width)),
    moveMostLefttoLeft
  );
}
/*deal with with the situation when next is clicked*/
#Carousel__img__right-to-center {
  @include carousel-img-position-animation(0, 0, moveRighttoCenter);
}
#Carousel__img__center-to-left {
  @include carousel-img-position-animation(
    0,
    calc(-1 * var(--my-max-width)),
    moveCentertoLeft
  );
}
#Carousel__img__mostright-to-right {
  @include carousel-img-position-animation(
    0,
    var(--my-max-width),
    moveMostRighttoRight
  );
}
@keyframes moveLefttoCenter {
  0% {
    left: calc(-1 * var(--my-max-width));
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes moveCentertoRight {
  0% {
    top: 0;
    left: 0px;
  }
  100% {
    top: 0px;
    left: var(--my-max-width);
  }
}

@keyframes moveRighttoCenter {
  0% {
    left: var(--my-max-width);
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes moveCentertoLeft {
  0% {
    top: 0;
    left: 0px;
  }
  100% {
    top: 0px;
    left: calc(-1 * var(--my-max-width));
  }
}

@keyframes moveMostLeftToLeft {
  0% {
    left: calc(-2 * var(--my-max-width));
    top: 0px;
  }
  100% {
    left: calc(-1 * var(--my-max-width));
    top: 0px;
  }
}

@keyframes moveMostRighttoRight {
  0% {
    left: calc(2 * var(--my-max-width));
    top: 0px;
  }
  100% {
    left: var(--my-max-width);
    top: 0px;
  }
}

.Carousel__prev,
.Carousel__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px 0 0 3px;
  user-select: none;
}

.Carousel__prev {
  left: 0;
}

.Carousel__next {
  right: 0;
}

.Carousel__dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.Carousel__dot {
  @include carousel-indicator(10px, 10px, 50%);
}

.Carousel__dot-active,
.Carousel__dot:hover {
  background-color: white;
}

.carousel-line .Carousel__dot {
  @include carousel-indicator(5px, 13px, 95px);
}

.carousel-line .Carousel__dot-active,
.carousel-line .Carousel__dot:hover {
  background-color: white;
}
