.checkboxes {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

input[type='checkbox'] {
  cursor: pointer;
}

input[type='checkbox']:disabled {
  cursor: not-allowed;
}

input + label {
  margin-left: 1vw;
}

.checkbox-small {
  transform: scale(0.75);
}

.checkbox-large {
  transform: scale(1.25);
}
