.cb {
  position: relative;
  display: inline-block;
  font-weight: $cb-font-weight;
  line-height: $cb-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: $cb-transition;

  // cb size
  @include cb-size(
    $cb-font-size,
    $cb-box-margin-right,
    $cb-box-transform-scale
  );
}

.cb-sm {
  @include cb-size(
    $cb-font-size-sm,
    $cb-box-margin-right-sm,
    $cb-box-transform-scale-sm
  );
}
.cb-lg {
  @include cb-size(
    $cb-font-size-lg,
    $cb-box-margin-right-lg,
    $cb-box-transform-scale-lg
  );
}

.cb-primary {
  @include cb-style($white, $primary, $primary);
}
.cb-secondary {
  @include cb-style($white, $secondary, $secondary);
}
.cb-danger {
  @include cb-style($white, $danger, $danger);
}
.cb-info {
  @include cb-style($white, $info, $info);
}
.cb-success {
  @include cb-style($white, $success, $success);
}
.cb-warning {
  @include cb-style($white, $warning, $warning);
}

.cb-icon {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
