.checkbox {
  position: relative;
  padding: $check-default-padding;
  margin-bottom: 30px;
  // cursor: pointer;
  font-size: $check-label-font-size;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox svg {
  stroke-width: 2.5;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.checkbox input:checked ~ svg {
  fill: black;
}

.hoverCircle {
  background-color: $gray-300;
  border-radius: 50px;
  position: absolute;
  opacity: 0;
  @include hoverCircle-style(2px, 4px, 15px, 15px);
  cursor: pointer;
  &:hover {
    transform: scale(3);
    opacity: 0.3;
  }
}

.icon-hover {
  @include hoverCircle-style(37px, 4px, 18px, 18px);
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: $check-border-radius;
  border: $checkmark-border;
  @include checkbox-size(18px, 18px);
}

/* When the checkbox is checked, add a background */
.checkbox input:checked ~ .checkmark {
  background-color: $gray-300;
}

.checkbox input:indeterminate ~ .checkmark {
  background-color: $gray-300;
}

.checkbox input:disabled ~ .checkmark {
  border: $checkmark-border-default;
}

.checkbox input:disabled ~ .hoverCircle {
  border: $checkmark-border-default;
  cursor: not-allowed;
  &:hover {
    opacity: 0;
  }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.checkbox input:checked ~ .checkmark:after {
  @include checkmark-style(block, 4px, 0px, 6px, 11px, $checkmark-icon-border);
  border-width: $checkmark-border-width; 
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input:indeterminate ~ .checkmark:after {
  @include checkmark-style(block, 2px, 6px, 10px, 2px, $checkmark-icon-border);
  background-color: $white;
}


.check-sm {
  .checkmark {
    @include checkbox-size(15px, 15px);
  }

  input:checked ~ .checkmark:after {
    @include checkmark-style(block, 4px, 1px, 4px, 8px, $checkmark-icon-border);
    border-width: 0 2px 2px 0; 
  }

  input:indeterminate ~ .checkmark:after {
    @include checkmark-style(block, 1px, 4px, 8.5px, 1px, $checkmark-icon-border);
  }

  svg {
    width: 20px;
  }

  .hoverCircle {
    left: 0;
    top: 3px;
  }

  .hoverCircle:hover {
    transform: scale(2);
  }

  .icon-hover {
    left: 33px;
    top: 3px;
  }
}

.check-default {
  input:checked ~ .checkmark {
    background-color: $gray-600;
  }
  
  input:indeterminate ~ .checkmark {
    background-color: $gray-600;
  }
}

.check-primary {
  .hoverCircle {
    background-color: #3F51B5;
  }

  input:checked ~ .checkmark {
    @include checkmark-type(#3F51B5, $checkmark-border-primary);
  }
  
  input:indeterminate ~ .checkmark {
    @include checkmark-type(#3F51B5, $checkmark-border-primary);
  }

  svg {
    stroke-width: 2.5;
    stroke: #3F51B5;
  }
  
  input:checked ~ svg {
    fill: #3F51B5;
  }
}

.check-secondary {
  .hoverCircle {
    background-color: #F50057;
  }

  input:checked ~ .checkmark {
    @include checkmark-type(#F50057, $checkmark-border-secondary);
  }
  
  input:indeterminate ~ .checkmark {
    @include checkmark-type(#F50057, $checkmark-border-secondary);
  }

  svg {
    stroke-width: 2.5;
    stroke: #F50057;
  }
  
  input:checked ~ svg {
    fill: #F50057;
  }
}