.checkbox {
  position: relative;
  padding: $check-default-padding;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: $check-label-font-size;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: $check-border-radius;
  border: $checkmark-border;
  @include checkbox-size(18px, 18px);
  // &:hover {
  //   background-color: yellow;
  // }
}

/* When the checkbox is checked, add a background */
.checkbox input:checked ~ .checkmark {
  background-color: $gray-300;
}

.checkbox input:indeterminate ~ .checkmark {
  background-color: $gray-300;
}

.checkbox input:disabled ~ .checkmark {
  // background-color: $gray-300;
  border: 2px solid $gray-300;
  cursor: not-allowed;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.checkbox input:checked ~ .checkmark:after {
  @include checkmark-style(block, 4px, 0px, 6px, 11px, $checkmark-icon-border);
  border-width: $checkmark-border-width; 
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input:indeterminate ~ .checkmark:after {
  @include checkmark-style(block, 2px, 6px, 10px, 2px, $checkmark-icon-border);
  background-color: $white;
}


.check-sm {
  .checkmark {
    @include checkbox-size(15px, 15px);
  }

  input:checked ~ .checkmark:after {
    @include checkmark-style(block, 4px, 1px, 4px, 8px, $checkmark-icon-border);
    border-width: 0 2px 2px 0; 
  }

  input:indeterminate ~ .checkmark:after {
    @include checkmark-style(block, 1px, 4px, 8.5px, 1px, $checkmark-icon-border);
  }
}

.check-default {
  input:checked ~ .checkmark {
    background-color: $gray-600;
  }
  
  input:indeterminate ~ .checkmark {
    background-color: $gray-600;
  }
}

.check-primary {
  input:checked ~ .checkmark {
    background-color: #3F51B5;
    border: 2px solid #3F51B5;
  }
  
  input:indeterminate ~ .checkmark {
    background-color: #3F51B5;
    border: 2px solid #3F51B5;
  }
}

.check-secondary {
  input:checked ~ .checkmark {
    background-color: #F50057;
    border: 2px solid #F50057;
  }
  
  input:indeterminate ~ .checkmark {
    background-color: #F50057;
    border: 2px solid #F50057;
  }
}