.dlg {
    border-radius: $border-radius;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: $spacer;
    margin: $spacer ;
    z-index: 999;
    //   width: fit-content;

}

.dlg-alert {
    min-width: 60rem;

    a {
        text-align: end;
        display: inline;
        font-weight: bold;
        color: $blue;
    }
}

.dlg-simple {
    display: flex;
    flex-direction: column;
    min-width: 60rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-align: center;
    }
}

.dlg-form {
    padding: .25$spacer;

    input {
        margin-bottom: $spacer;
        padding: $spacer;
        width: 100%;
        border: none;
        border-bottom: 1px $gray-800 solid;

    }

    p {
        padding: $spacer;
        font-size: $font-size-sm;
        color: #757575;
    }

}

.dlg-btns {
    text-align: end;
    margin-bottom: 0;
}