.tree {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.tree__nodes {
  display: none;
}

.tree__node {
  padding: 5px 5px;
}

.tree__node:hover {
  background-color: #ced4da;
}

// styling on open
.tree__nodes.open {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  color: #6610f2;
  padding: 5px;
  border-radius: 5px;
}

.caret:hover {
  background-color: #adb5bd;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: '\25B6';
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}
