.tree {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  // tree size
  @include tree-size(
    $tree-padding-y,
    $tree-padding-x,
    $tree-font-size,
    $border-radius
  );
}
.tree-lg {
  @include button-size(
    $tree-padding-y-lg,
    $tree-padding-x-lg,
    $tree-font-size-lg,
    $border-radius-lg
  );
}
.tree-sm {
  @include button-size(
    $tree-padding-y-sm,
    $tree-padding-x-sm,
    $tree-font-size-sm,
    $border-radius-sm
  );
}

.tree__title {
  margin-bottom: 5px;
}
.tree__title-primary {
  color: $primary;
}
.tree__title-secondary {
  color: $secondary;
}
.tree__title-danger {
  color: $danger;
}
.tree__title-info {
  color: $info;
}
.tree__title-warning {
  color: $warning;
}

.tree__nodes {
  display: none;
  margin-left: 30px;
  // styling on open
  &.open {
    display: flex;
    flex-direction: column;
  }
}

.tree__node {
  padding: $tree-padding-y $tree-padding-x;
  border-radius: $border-radius;
  &:hover {
    background-color: $gray-200;
  }
}

/* Style the caret/arrow */
.tree__caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  color: $primary;
  padding: $tree-padding-y $tree-padding-x;
  border-radius: $border-radius;
  margin-right: 15px;

  &:hover {
    background-color: $gray-100;
  }

  /* Create the caret/arrow with a unicode, and style it */
  &::before {
    content: '\1405';
    display: inline-block;
  }

  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  &-down::before {
    transform: rotate(90deg);
  }
}

.tree__node_caret {
  color: $primary;
  margin-right: 15px;

  /* Create the caret/arrow with a unicode, and style it */
  &::before {
    content: '\2022';
  }
}

.tree__caret-primary,
.tree__node_caret-primary {
  color: $primary;
}
.tree__caret-secondary,
.tree__node_caret-secondary {
  color: $secondary;
}
.tree__caret-danger,
.tree__node_caret-danger {
  color: $danger;
}
.tree__caret-info,
.tree__node_caret-info {
  color: $info;
}
.tree__caret-warning,
.tree__node_caret-warning {
  color: $warning;
}
