.msg {
    position: relative;
    display: inline-block;
    margin: $msg-margin;

    @include message-style(
        $msg-background-color, 
        $msg-border-radius, 
        $msg-border,
        $msg-padding,
        $msg-box-width
    );
}

.header {
    font-size: $msg-header-size;
    font-weight: $font-weight-bold;
}

.content {
    font-size: $msg-pg-size;
}

.remove-icon {
    position: absolute;
    top: $remove-icon-margin;
    right: $remove-icon-margin;
}

.circle-icon {
    position: absolute;
    left: $circle-icon-margin;
    top: $circle-icon-margin;
    font-size: $cirle-icon-size;
    animation: $icon-animation;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spinner-message {
    @include icon-style (
        $msg-margin-left
    );
}